<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-light footer">
    {%- if site.show-style-guide %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 text-left">
                <a href="https://www.facebook.com/" target="_blank">
                <img class="footericon" src="Images/witfb.png" width="50" height="50" alt="Facebook"></a>
                
                <a href="https://www.twitter.com/" target="_blank">
                <img class="footericon" src="Images/wittwit.png" width="50" height="50" alt="Twitter"> </a>

                <a href="https://www.instagram.com/" target="_blank">
                <img class="footericon" src="Images/witintsta.png" width="50" height="50" alt="Instagram"> </a>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <p class="footertekst text-right">We want assure you that no alpaca's were hurt in the making of this website. Taike de Wilde || 2CMO || Artevelde hogeschool, Campus Mariakerke</p>
            </div>
        </div>
    </div>
    {%- endif %}
 </nav>