
<nav class="navbar navbar-light footer">
        {%- if site.show-style-guide %}
        <div class="container">
                <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                                <img class="footericon" src="Images/witfb.png" width="50" height="50" alt="Facebook">
                                <img class="footericon" src="Images/wittwit.png" width="50" height="50" alt="Twitter">
                                <img class="footericon" src="Images/witintsta.png" width="50" height="50" alt="Instagram">
                                <img class="footericon" src="Images/wittel.png" width="50" height="50" alt="Telefoon">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                                <hr class=>
                                <p class="footertekst">No alpaca's were hurt in the making of this website.</p>
                                <p class="footertekst"> Taike De Wilde || 2CMO || Artevelde Hogeschool Campus Mariakerke || 2017-2018</p>
                        </div>
                </div>
        </div>
        {%- endif %}
</nav>