
// TYPO //
 p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
 }

 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
 }

 .footertekst{
    color:white;
    padding-top: 20px;
    }
   
.indextitle {
   font-family: 'Roboto Condensed', sans-serif;
    color:  #519e9a;
    }

.paketjes {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;}

.dewereld {
   font-size:  25px;
   font-family: 'Roboto Condensed', sans-serif;
   color:  #69a8a6;
       }

.opsomming {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.paketnaam {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #D85F3F;
    font-size: 20px;
    padding-left: 20px;
}
.leesmeer{
  margin-top:20px;
  margin-bottom:30px;
}


 // INDEX JUMBO//
 .jumbotron-index {
   background: url(../../images/banner.jpg) no-repeat center center;
   background-size: contain;
   height: 250px;
   margin-bottom:50px;
   
   border-radius: 0px;
   position: relative;
 }

 .jumboknop{
  position: absolute;
  bottom: 40px;
  right: 40px;
}
 
 
// NAV //
.navbar{
  padding-bottom: 40px;
  padding-left: 0px;
}
 
.nav-item {
  font-size: 15px;
  text-align:left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.navbar-brand{
  padding-top:30px;
  padding-bottom:20px;
}

.logo {
  height: 45px;
  padding-left:20px;
}
 
// CARDS ROUTES //
 .overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: white;
   overflow: hidden;
   width: 100%;
   height: 0;
   transition: .5s ease;
 }
 
 .card:hover .overlay{
   height: 100%;
 }
   
 text{
   white-space: nowrap;
   color: black;
   font-size: 20px;
   position: absolute;
   overflow: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
   
 .card-text{
   padding-left:20px;
   padding-right: 20px;
 }
 
 .cardboxtitle{
   padding-left:20px;
   padding-right: 20px;
   padding-top: 20px;
 }
 
 .card-title {
  text-align: center;
}


  // ANDERE PAGINAS //
.indextitle {
    padding-top: 20px;
  }

.bedankt {
  padding-top: 20px;
}

.paket {
  width: 350px;
  height: 350px;
}
 
 .alpacatext {
   padding-top: 20px;
 }

 li {
  color: #D85F3F;
}
li span {
  color: black;
}


 // BUTTONS //
 .input-group-addon {
   background-color: #69a8a6; 
   color: white; 
   border: 1px solid #69a8a6;
   margin-left: 20px;
   margin-top: 10px;
 }
 
 .paketbutton {
   margin-top: 10px;
   color: #69a8a6;
   border-color: #69a8a6;
 }

.btn-outline-dark:hover {
  background-color:#69a8a6;
  color:white;
  border-color:#69a8a6;
}

 
 // FLUFFY JUMBO //
 .jumbotronto {
   background-image: none;
   background-color: #69a8a6;
   text-align: center; 
   padding-top: 60px;
   padding-left: 10px;
   padding-right: 10px;
 }

 .fluffyjumbo{
  padding-top:60px;
}

 .leadfluf {
   color:white;
 }
 
 .quotefluf{
   color:white;
 }
 
 .flufpageimg{
   margin-top:-30px;
 }
 
 .jumboflufline {
   border-top: 1px solid white;
   size:20px;
   width:400px;
 }

 // FOOTER //
 .footer{
    background-color:#D85F3F;;
    margin-top: 50px;
 }

.footericon {
  margin-top: 30px;
   margin-right:10px;
}

.iconcontact {
  margin-bottom: 30px;
   display: block;
}
.icooncontact-top{
  display: block;
}

.d-block {
  padding-bottom: 25px;
}










 


 // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .jumbotron-index {
        background-size: cover;
        height: 400px;
      }
      .jumboknop{
        right: 60px;
        }
        .nav-item{
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .container{
          padding-left: 0px;
          padding-right: 0px;
        }
      .logo{
        padding-left:0px;
      }
      .drieindex {
        min-height: 170px;
       }
       .leesmeer{
        margin-bottom:0px;
        margin-top:0px;
      }
      .footericon{
        margin-right:20px;
      }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}