
// TYPO //

 p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
 }

 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
 }

 .footertekst{
    color:white;
    padding-top: 20px;
    }
   
.indextitle {
   font-family: 'Roboto Condensed', sans-serif;
    color:  #519e9a;
    }

.paketjes {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;}

.dewereld {
   font-size:  25px;
   font-family: 'Roboto Condensed', sans-serif;
   color:  #69a8a6;
       }

.opsomming {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.paketnaam {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #D85F3F;
    font-size: 20px;
    padding-left: 20px;
}




    // others//
 .jumbotron-index {
   background: url(../../Images/banner.jpg) no-repeat center center;
   background-size: contain;
   height: 210px;
   margin-bottom:50px;
   
   border-radius: 0px;
   position: relative;
 }
 
   .bedankt {
     padding-top: 20px;
   }
 
   .jumboknop{
     position: absolute;
     bottom: 10px;
     right: 10px;
     }
 
     .navbar{
       padding-bottom: 40px;
       padding-left: 0px;
       }
 
       .paket {
         width: 350px;
         height: 350px;
       }
 

 .overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: white;
   overflow: hidden;
   width: 100%;
   height: 0;
   transition: .5s ease;
 }
 
 .card:hover .overlay{
   height: 100%;
 }
   
 text{
   white-space: nowrap;
   color: black;
   font-size: 20px;
   position: absolute;
   overflow: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
   
 .card-text{
   padding-left:20px;
   padding-right: 20px;
 }
 
 .cardboxtitle{
   padding-left:20px;
   padding-right: 20px;
   padding-top: 20px;
 }
 
 .indextitle {
   padding-top: 20px;
 }
 
 .alpacatext {
   padding-top: 20px;
 }
 
 .input-group-addon {
   background-color: #69a8a6; 
   color: white; 
   border: 1px solid #69a8a6;
   margin-left: 20px;
   margin-top: 10px;
 }
 
 .paketbutton {
   margin-top: 10px;
   color: #69a8a6;
   border-color: #69a8a6;
 }

 
 .card-title {
   text-align: center;
 }
 
 .jumbotronto {
   background-image: none;
   background-color: #69a8a6;
   text-align: center; 
 }
 
 .leadfluf {
   color:white;
 }
 
 .quotefluf{
   color:white;
 }
 
 .flufpageimg{
   margin-top:-30px;
 }
 
 .jumboflufline {
   border-top: 1px solid white;
   size:20px;
   width:400px;
 }

 .footer{
    background-color: #D85F3F;
    margin-top: 50px;
 }
 
.footerhr {
     color:white;
 }

 .drieindex {
     min-height: 170px;
    }

.footericon {
    margin-top: 30px;
}

.iconcontact {
    margin-right: 30px;
}

.nav-item {
    font-size: 15px;
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.navbar-brand{
    
    padding-top:30px;
    padding-bottom:20px;
}

.d-block {
    padding-bottom: 25px;
}

li {
    color: #D85F3F;
}
li span {
    color: black;
}

.logo {
    height: 45px;
    padding-left:20px;
}





 


 // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .jumbotron-index {
        background-size: cover;
        height: 400px;
      }
      .jumboknop{
        right: 60px;
        }
        .nav-item{
            padding-top: 30px;
            padding-bottom: 20px;
        }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}